* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

:root {
	--maincolor: rgb(82, 82, 82);
	--secondary_btn: rgb(0, 157, 255);
	;
	--primary_btn: rgb(7, 101, 156);
}

body {
	background-color: #eff0f5;
}

.navbar label {
	display: none;
}

.img_container {
	background: #000;
	position: relative;
	object-fit: contain;
}

.hero-img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0.5;

}

.headertxt {
	max-width: 50vw;
	text-align: center;
	color: aliceblue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.headertxt1 {
	font-size: 4rem;
}

.headertxt2 {
	padding-top: 2%;
	font-size: 1.7rem;
}

.nav_container {
	background-color: white;
}

.navbar {
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 55px;
	padding: 0 1rem;
}

.navbar ul {
	display: flex;
	gap: 0.5rem;
	list-style: none;
}

.navbar ul li a {
	padding: 0.5em 2.5em;
	text-decoration: none;
	color: black;
}

.navbar ul li a:hover {
	background-color: var(--primary_btn);
	color: white;
	border-radius: 30px;
	transition: 0.3s all ease;
}

.navbar ul .home-btn a {
	background-color: var(--secondary_btn);
	color: white;
	border-radius: 30px;
}


.product_heading {
	text-align: center;
	font-size: 3rem;
	padding-top: 0.3em;
	font-weight: 300;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;

}

.container {
	display: inline;
	margin: 0 auto;
	color: black;
}

.item_container {
	display: flex;
	overflow-x: scroll;
	gap: 1rem;
	padding: 0 0.8em;
	margin: 0 auto;
	max-width: 1200px;
}

.items {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	color: black;
	min-width: 300px;
	width: 300px;
	height: fit-content;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 10px solid rgb(255, 255, 255);
	overflow: hidden;
}

.images {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.item_details {
	padding: 1em;

}

.item_name {
	font-size: 1.5rem;
	margin-top: 0.3em;
	text-decoration: none;
}

.item_price {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.footer_container {
	width: 100%;
	height: 10vh;
	background: rgb(255, 255, 255);
}

.footer_text {
	color: black;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;

}

.field {
	font-size: 1rem;
	padding: 1em 1.2em;
	border-radius: 30px;
	line-height: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	width: 100%;
	background: #e8e8e8;
	border: none;
}


@media screen and (max-width: 850px) {
	.items {
		min-width: 265px;
		width: 265px;
	}
}

@media screen and (max-width: 640px) {
	.items {
		min-width: 265px;
		width: 265px;
	}
}

@media screen and (max-width: 730px) {
	.navbar {
		position: relative;
	}

	.navbar ul {
		position: absolute;
		flex-direction: column;
		z-index: 999;
		background-color: white;
		gap: 2rem;
		top: 55px;
		right: 0;
		padding: 2rem 1rem;
		align-items: center;
		transform: translateY(-200%);
		transition: 0.5s ease-in-out;
	}

	.navbar label {
		display: block;
		cursor: pointer;
	}

	#toggle:checked~.nav-uls {
		transform: translateY(0);
	}
}

@media screen and (max-width: 530px) {
	.item_container {
		flex-wrap: wrap;
	}

	.items {
		width: 100%;
	}

	.items img {
		object-fit: contain;
	}
}