* {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #eff0f5;
}

.img_container {
	background: #000;
	position: relative;
}

.img1 {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	overflow-x: hidden;
	overflow-y: hidden;
	opacity: 0.5;


}

.headertxt {
	max-width: 50vw;
	text-align: center;
	color: aliceblue;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.headertxt1 {
	font-size: 4rem;
}

.headertxt2 {
	padding-top: 2%;
	font-size: 1.7rem;
}

.nav_container {
	background: white;
	color: black;
	width: 100%;
	min-height: 5vh;
	margin-bottom: 1em;
}

.navbar {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-items: center
}

.navtxt {
	width: 40%;
	margin: 0;
}

.navbar a {
	text-decoration: none;
	text-align: center;
}

.navbar li {
	text-align: center;
	padding: 1% 2%;
	list-style: none;
}

.product_heading {
	text-align: center;
	font-size: 3rem;
	padding-top: 0.3em;
	font-weight: 300;
}


.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;

}

.container {
	display: inline;
	margin: 0 auto;
	color: black;
}

.item_container {
	display: flex;
	overflow-x: scroll;
	gap: 1rem;
	padding: 0 0.8em;
	margin: 0 auto;
	max-width: 1200px;
}

.items {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: white;
	color: black;
	min-width: 300px;
	width: 300px;
	height: fit-content;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 10px solid rgb(255, 255, 255);
	overflow: hidden;
}

.images {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

.item_details {
	padding: 1em;

}

.item_name {
	font-size: 1.5rem;
	margin-top: 0.3em;
	text-decoration: none;
}

.item_price {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.footer_container {
	width: 100%;
	height: 10vh;
	background: rgb(255, 255, 255);
}

.footer_text {
	color: black;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 2em;

}

.product_wrapper {
	display: flex;
	width: 80%;
	margin: 0 auto;
	height: 100vh;
	background-color: white;
	justify-content: space-between;

}

.similar_items_container {
	width: 25%;
	margin-left: 1em;
	background-color: #fafafa;
}

.product {
	display: flex;
	gap: 1.8em;
	color: black;
	margin-bottom: 1em;
	padding: 1em;
	border: 10px solid rgb(255, 255, 255);
	overflow: hidden;
	width: 75%;

}

.primage_container {
	width: 300px;
	height: 300px;
}

.product_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product_name {
	font-size: 1.6rem;
}

.product_price {
	font-size: 1.8rem;
	color: rgb(255, 51, 0);
	font-weight: 500;

}

.product_details {
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}

.fa-star {
	color: rgb(255, 179, 0);
}

.fa-solid {
	color: white 50%;
}

.buy_section {
	display: flex;
	flex-direction: column;
}

.btns {
	display: flex;
	justify-content: space-between;
}

.quantity {
	margin: 0.5em 0;
}

.item_btn {
	padding: 1em;
}

.similar_items {
	text-align: center;
	padding: 1em;
	font-weight: 600;
	font-size: 1.2rem;
}

.cart_content_wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: white;
}

.cart_heading {
	text-align: center;
	font-size: 2rem;
	padding-bottom: 1em;
	font-weight: 400;
}

td,
img {
	width: 100px;
	height: 60px;
}

td {
	text-align: center;
}

td a {
	text-align: center;
	text-decoration: none;
}

.cart_table {
	width: 100%;
	margin: auto;
	max-width: 800px;
}

.cart_table thead tr td {
	padding: 2rem 0;
}

.cart_table img {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.cart_table tbody tr td:nth-child(2) {
	text-align: left;
}

tr td {
	border-bottom: 1px solid rgb(207, 207, 207);
}

.cart_bottom {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 250px;
	padding-bottom: 30px;
}

.subtotal {
	padding: 1em 0;
}

.order_content_wrapper {
	width: 74%;
	margin: 0 auto;
	height: 100vh;
}

.form_contaitner {
	display: flex;
	justify-content: center;
}

.field {
	font-size: 1rem;
	padding: 1em 1.2em;
	border-radius: 30px;
	line-height: 1em;
	margin-bottom: 1em;
	margin-top: 0.5em;
	width: 100%;
	background: #e8e8e8;
	border: none;
}

.btn {
	margin-top: 1em;
	background: rgb(0, 183, 255);
	color: white;
	font-weight: 500;
	font-size: 1rem;

}

.btn:hover {
	background: rgb(0, 111, 175);
	cursor: pointer;
	transition: 0.4s;
}


.shipping_details {
	width: 80%;
	background: white;
	padding: 3em 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	max-width: 750px;
}


.shipping_details div {
	width: 100%;
}

.shipping_details label {
	margin-left: 7px;
	font-size: 1.1rem;
}

.order_summary {
	margin: 2em;
	background: white;
	padding: 2em;
	border-radius: 10px;
}

.split {
	display: flex;
}

.split input {
	width: 95%;
}

.payment_method {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.payment_method img {
	width: 72px;
	padding: 5px;
}


.payment_method div:nth-child(3) label img {
	border: 1px solid black;
	border-radius: 5px;
}

.checkout_details h3 {
	padding-top: 0.9em;
	font-size: 1.4rem;
	padding-bottom: 0.6em;
	font-weight: 400;
	border-top: 1px solid #b8b8b8;
}

.checkout_details label {
	padding-bottom: 0.5em;
}

.checkout_details div {
	display: flex;
	justify-content: space-between;
	padding: 2px;
}

.place_order_btn {
	background: rgb(0, 183, 255);
	color: white;
	font-weight: 500;
	font-size: 1rem;
	line-height: 3.4em;
	margin-bottom: 0.6em;
	margin-top: 2.6em;
	border-radius: 30px;
	width: 100%;
	border: none;
}

.place_order_btn:hover {
	background: rgb(0, 111, 175);
	cursor: pointer;
	transition: 0.4s;

}